USE [master]
GO
/****** Object:  Database [Web_Cook]    Script Date: 1/4/2021 1:36:58 PM ******/
CREATE DATABASE [Web_Cook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_Cook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV2019\MSSQL\DATA\Web_Cook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web_Cook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV2019\MSSQL\DATA\Web_Cook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_Cook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_Cook]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[MaPhanHoi] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[ID_user] [bigint] NULL,
	[ID_congthuc] [bigint] NULL,
	[ID_blog] [bigint] NULL,
 CONSTRAINT [PK_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[ID_user] [bigint] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](200) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[HinhDaiDien] [varchar](100) NULL,
	[Email] [varchar](200) NULL,
	[NgayDangky] [date] NULL,
	[Username] [char](100) NULL,
	[PassWord] [char](100) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Review]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Review]
as
select ph.MaPhanHoi,ph.NoiDung,ph.NgayDang,ph.ID_congthuc,ph.ID_blog ,tv.HoTen,tv.HinhDaiDien from PhanHoi as ph, ThanhVien as tv
where ph.ID_user=tv.ID_user
GO
/****** Object:  Table [dbo].[TraLoi_PhanHoi]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraLoi_PhanHoi](
	[MaTraLoi] [bigint] IDENTITY(1,1) NOT NULL,
	[MaPhanHoi] [bigint] NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaThanhVien] [bigint] NULL,
	[MaNguoiDung] [int] NULL,
 CONSTRAINT [PK_TraLoi_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[MaTraLoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_traloi]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_traloi]
as
select Answer.*, tv.HinhDaiDien, tv.HoTen from TraLoi_PhanHoi as Answer, ThanhVien as tv
where tv.ID_user = Answer.MaThanhVien
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[ID_congthuc] [bigint] IDENTITY(1,1) NOT NULL,
	[TenCongThuc] [nvarchar](max) NULL,
	[AnhMinhHoa] [char](100) NULL,
	[TieuDe] [nvarchar](max) NULL,
	[DoKho] [int] NULL,
	[ThoiGianCB] [int] NULL,
	[ThoiGianNau] [int] NULL,
	[MaLoaiCongThuc] [bigint] NULL,
	[MaNguoiTao] [int] NULL,
	[NgayTao] [date] NULL,
	[MaNguoiChinhSua] [int] NULL,
	[NgayChinhSua] [date] NULL,
	[TopHot] [bit] NULL,
	[TrangThai] [bit] NULL,
	[SLPH] [int] NULL,
	[Video] [char](1000) NULL,
	[LuotXem] [bigint] NULL,
 CONSTRAINT [PK_CongThuc] PRIMARY KEY CLUSTERED 
(
	[ID_congthuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luu_tru]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luu_tru](
	[ID_congthuc] [bigint] NULL,
	[ID_user] [bigint] NULL,
	[Ngay_luu] [datetime] NULL,
	[ID_save] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_blog] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_save] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Luu_monan]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Luu_monan]
as
select lt.ID_user,lt.ID_congthuc,ct.AnhMinhHoa,ct.TenCongThuc,lt.Ngay_luu from CongThuc ct, Luu_tru lt
where lt.ID_congthuc=ct.ID_congthuc
GO
/****** Object:  View [dbo].[Yeu_thich1]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Yeu_thich1]
as
select lt.ID_user,lt.ID_congthuc,ct.AnhMinhHoa,ct.TenCongThuc,lt.Ngay_luu from Luu_tru lt,CongThuc ct 
where lt.ID_congthuc=ct.ID_congthuc
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[MaBlog] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[TenBlog] [nvarchar](max) NULL,
	[AnhMinhHoa] [char](100) NULL,
	[MaNguoiTao] [int] NULL,
	[NgayTao] [date] NULL,
	[MaNguoiChinhSua] [int] NULL,
	[NgayChinhSua] [date] NULL,
	[TopHot] [bit] NULL,
	[TrangThai] [bit] NULL,
	[SLPH] [int] NULL,
	[LuotXem] [bigint] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[MaBlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Yeu_thich_blog]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Yeu_thich_blog]
as
select lt.ID_user,blg.MaBlog,blg.AnhMinhHoa,blg.TenBlog, lt.Ngay_luu from Luu_tru lt, Blog blg
where  lt.ID_blog = blg.MaBlog
GO
/****** Object:  View [dbo].[Yeu_thich_mon]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Yeu_thich_mon]
as
select lt.ID_save,lt.ID_user,lt.ID_congthuc,ct.AnhMinhHoa,ct.TenCongThuc,lt.Ngay_luu from Luu_tru lt,CongThuc ct 
where lt.ID_congthuc=ct.ID_congthuc
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[Mã Footer] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [ntext] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[Mã Footer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieu]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieu](
	[MaGioiThieu] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](250) NULL,
	[NoiDung] [ntext] NULL,
	[AnhMinhHoa] [varchar](200) NULL,
	[NgayTao] [date] NULL,
	[NgayDang] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_GioiThieu] PRIMARY KEY CLUSTERED 
(
	[MaGioiThieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCongThuc]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCongThuc](
	[MaLoaiCongThuc] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLoaiCT] [nvarchar](200) NULL,
	[TopHot] [bit] NULL,
 CONSTRAINT [PK_LoaiCongThuc] PRIMARY KEY CLUSTERED 
(
	[MaLoaiCongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NULL,
	[Password] [varchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[CapDo] [char](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [bigint] IDENTITY(1,1) NOT NULL,
	[MaCongThuc] [bigint] NULL,
	[TenNguyenLieu] [nvarchar](50) NULL,
	[SoLuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDung_Blog]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDung_Blog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_blog] [bigint] NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhMinhHoa] [varchar](100) NULL,
 CONSTRAINT [PK_NoiDung_Blog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDungCT]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDungCT](
	[MaNoiDungCT] [bigint] IDENTITY(1,1) NOT NULL,
	[MaCongThuc] [bigint] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhMinhHoa] [varchar](100) NULL,
 CONSTRAINT [PK_NoiDungCT] PRIMARY KEY CLUSTERED 
(
	[MaNoiDungCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[MaSlider] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [ntext] NULL,
	[AnhMinhHoa] [char](100) NULL,
	[TrangThai] [bit] NULL,
	[Class] [char](100) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[MaSlider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruyCap]    Script Date: 1/4/2021 1:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruyCap](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [date] NULL,
	[SoTruyCap] [int] NULL,
 CONSTRAINT [PK_TruyCao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[CongThuc] ON 

SET IDENTITY_INSERT [dbo].[CongThuc] OFF
SET IDENTITY_INSERT [dbo].[GioiThieu] ON 

INSERT [dbo].[GioiThieu] ([MaGioiThieu], [TieuDe], [NoiDung], [AnhMinhHoa], [NgayTao], [NgayDang], [TrangThai]) VALUES (1, N'Tìm kiếm công thức dễ dàng hơn', N'Bạn có thể tìm kiếm công thức các món ăn ưa thích một cách nhanh chóng hơn với công cụ tìm kiếm của chúng tôi.', N'pexels-andrea-piacquadio-3771107.jpg', NULL, NULL, 1)
INSERT [dbo].[GioiThieu] ([MaGioiThieu], [TieuDe], [NoiDung], [AnhMinhHoa], [NgayTao], [NgayDang], [TrangThai]) VALUES (2, N'Nấu một món ngon sẽ dễ dàng hơn', N'Chúng tôi sẽ cố gắng từng ngày một với mong muốn tạo ra một sản phẩm có thể giúp cho những đầu bếp bình thường nhất nấu được một món ăn ngon nhất.

Chúng tôi chắc chắn rằng bạn sẽ cảm thấy rất vui khi được tự tay nấu cho một ai đó thưởng thức. Và cảm nhận thành quả của mình đã làm ra', N'pexels-andrea-piacquadio-3771106.jpg', NULL, NULL, 1)
INSERT [dbo].[GioiThieu] ([MaGioiThieu], [TieuDe], [NoiDung], [AnhMinhHoa], [NgayTao], [NgayDang], [TrangThai]) VALUES (3, N'Trở thành đầu bếp chuyên nghiệp', N'Một ngày nào đó bạn sẽ trở nên nổi tiếng với chính những "bí kíp" nấu ăn mà bạn đã tạo ra và chia sẻ chúng

Bạn hoàn toàn có thể trở thành một đầu bếp chuyên nghiệp.', N'pexels-august-de-richelieu-4262010.jpg', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[GioiThieu] OFF
SET IDENTITY_INSERT [dbo].[LoaiCongThuc] ON 

INSERT [dbo].[LoaiCongThuc] ([MaLoaiCongThuc], [TenLoaiCT], [TopHot]) VALUES (1, N'Ăn sáng', 0)
INSERT [dbo].[LoaiCongThuc] ([MaLoaiCongThuc], [TenLoaiCT], [TopHot]) VALUES (2, N'Ăn vặt', 0)
INSERT [dbo].[LoaiCongThuc] ([MaLoaiCongThuc], [TenLoaiCT], [TopHot]) VALUES (3, N'Khai vị', 0)
SET IDENTITY_INSERT [dbo].[LoaiCongThuc] OFF
SET IDENTITY_INSERT [dbo].[Luu_tru] ON 

INSERT [dbo].[Luu_tru] ([ID_congthuc], [ID_user], [Ngay_luu], [ID_save], [ID_blog]) VALUES (10, 3, CAST(N'2020-12-28T19:22:55.927' AS DateTime), 4, NULL)
INSERT [dbo].[Luu_tru] ([ID_congthuc], [ID_user], [Ngay_luu], [ID_save], [ID_blog]) VALUES (9, 3, CAST(N'2020-12-28T19:26:32.193' AS DateTime), 5, NULL)
INSERT [dbo].[Luu_tru] ([ID_congthuc], [ID_user], [Ngay_luu], [ID_save], [ID_blog]) VALUES (19, 3, CAST(N'2020-12-28T19:43:57.473' AS DateTime), 8, NULL)
SET IDENTITY_INSERT [dbo].[Luu_tru] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([UserID], [UserName], [Password], [HoTen], [Email], [CapDo]) VALUES (2, N'DangViet', N'12345', N'Bùi Đăng Việt', N'bdv1999@gmail.com', N'Editor                                                                                              ')
INSERT [dbo].[NguoiDung] ([UserID], [UserName], [Password], [HoTen], [Email], [CapDo]) VALUES (3, N'Tutu', N'1234', N'Phạm Công Tú', N'tupc99@gmail.com', N'Editor                                                                                              ')
INSERT [dbo].[NguoiDung] ([UserID], [UserName], [Password], [HoTen], [Email], [CapDo]) VALUES (14, N'ThanhCong', N'12345', N'Nguyễn Thành Công', N'congnt199@gmail.com', N'Editor                                                                                              ')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [MaCongThuc], [TenNguyenLieu], [SoLuong]) VALUES (1, 3, N'Bột làm bánh mì', N'200g')
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [MaCongThuc], [TenNguyenLieu], [SoLuong]) VALUES (2, 3, N'sữa tươi không đường', N'150g')
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [MaCongThuc], [TenNguyenLieu], [SoLuong]) VALUES (3, 3, N'đường bột', N'60g')
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
SET IDENTITY_INSERT [dbo].[NoiDung_Blog] ON 

INSERT [dbo].[NoiDung_Blog] ([ID], [ID_blog], [TieuDe], [NoiDung], [AnhMinhHoa]) VALUES (1, 1, N'Không ăn trong bữa ăn', N'Ăn trái cây trong bữa ăn sẽ góp phần làm chậm quá trình tiêu hóa của cơ thể. Nếu bạn ăn trái cây với loại thực phẩm khác, trái cây sẽ ở lại trong cơ thể lâu hơn đồng thời gây khó tiêu.

Đường trong trái cây không nên ở lại quá lâu trong dạ dày nếu không sẽ xảy ra quá trình lên men, gây đầy hơi và trướng bụng.', N'antraicay1.jpg')
INSERT [dbo].[NoiDung_Blog] ([ID], [ID_blog], [TieuDe], [NoiDung], [AnhMinhHoa]) VALUES (3, 1, N'Không ăn trái cây trước khi đi ngủ', N'Ăn trái cây trước khi đi ngủ là thời điểm tồi tệ nhất vì làm tăng lượng đường trong máu và insulin trong cơ thể sẽ làm gián đoạn giấc ngủ của bạn vào ban đêm, giảm năng lượng khi cần thiết.Hơn nữa ăn trái cây trước khi đi ngủ làm tích tụ và dư thừa đường, đây cũng là nguyên nhân khiến cân nặng của bạn tăng không kiểm soát.', N'antraicay3.jpg')
SET IDENTITY_INSERT [dbo].[NoiDung_Blog] OFF
SET IDENTITY_INSERT [dbo].[NoiDungCT] ON 

INSERT [dbo].[NoiDungCT] ([MaNoiDungCT], [MaCongThuc], [NoiDung], [AnhMinhHoa]) VALUES (1, 3, N'Rây bột mì, đường và muối vào âu, trộn đều. Tiếp tục cho men nở vào trộn đều, tạo một lỗ nhỏ ở giữa âu bột và cho sữa tươi vào.', NULL)
INSERT [dbo].[NoiDungCT] ([MaNoiDungCT], [MaCongThuc], [NoiDung], [AnhMinhHoa]) VALUES (2, 3, N'Trộn từ từ đến khi bột thành một khối, dùng máy trộn từ tốc độ thấp rồi tăng dần tốc độ đến khi khối bột trở nên mịn màng. Ở bước này, nếu nhồi bột bằng tay thì cần lưu ý một chút vì bột khá dính nhưng không nên cho nhiều bột áo nếu không sẽ làm bột bị khô. Bột sau khi nhồi không cần đến mức kéo màng mỏng không rách nhưng cần khá mịn màng. Che kín mặt bột và ủ ở nơi ấm áp đến khi bột nở gấp đôi.', NULL)
INSERT [dbo].[NoiDungCT] ([MaNoiDungCT], [MaCongThuc], [NoiDung], [AnhMinhHoa]) VALUES (3, 3, N'Nhân bánh: Trộn đều đường, bột quế và các loại hạt đã nghiền nhỏ với nhau. Khi bột đã nở gấp đôi, dùng dầu ăn chống dính 2 tay, sau đó dùng tay túm một phần bột và ngắt dứt khoát cho phần bột ấy đứt. Bước này nếu không quen có thể dùng kéo để cắt bột hoặc cho bột ra mặt bàn rồi dùng miếng cắt bột để cắt hoặc các bạn có thể chia bột bánh thành 7 – 8 phần bằng nhau, chia nhân bánh với số lượng tương tự.', NULL)
SET IDENTITY_INSERT [dbo].[NoiDungCT] OFF
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [ID_user], [ID_congthuc], [ID_blog]) VALUES (7, NULL, N'Bài viết quá hay!', CAST(N'2020-11-11T00:00:00.000' AS DateTime), 1, 3, NULL)
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [ID_user], [ID_congthuc], [ID_blog]) VALUES (12, NULL, N'Công thức rất bổ ích', CAST(N'2020-12-30T21:11:01.393' AS DateTime), 5, 3, NULL)
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [ID_user], [ID_congthuc], [ID_blog]) VALUES (13, NULL, N'Good!', CAST(N'2020-12-30T21:13:10.343' AS DateTime), 5, 4, NULL)
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([MaSlider], [TieuDe], [NoiDung], [AnhMinhHoa], [TrangThai], [Class]) VALUES (2, N'Pancake siêu ngon', N'Pancake là loại bánh không yêu cầu nguyên liệu cầu kì, cách làm cũng đơn giản, nhanh và không cần lò nướng nên có vẻ là ứng cử viên sáng giá cho đồ ăn điểm tâm hoặc ăn chơi trong ngày lạnh giá hay mưa gió. Hãy cũng Mix-MTA làm ngay nào.', N'pancake.jpg                                                                                         ', 1, N'single-hero-slide                                                                                   ')
SET IDENTITY_INSERT [dbo].[Slider] OFF
SET IDENTITY_INSERT [dbo].[ThanhVien] ON 

INSERT [dbo].[ThanhVien] ([ID_user], [HoTen], [GioiTinh], [HinhDaiDien], [Email], [NgayDangky], [Username], [PassWord]) VALUES (1, N'Nguyễn Ánh', N'Nữ', N'avt.jpg', N'anhhihi@gmail.com', CAST(N'2020-08-30' AS Date), N'AnhDz                                                                                               ', N'123456                                                                                              ')
INSERT [dbo].[ThanhVien] ([ID_user], [HoTen], [GioiTinh], [HinhDaiDien], [Email], [NgayDangky], [Username], [PassWord]) VALUES (2, N'Bùi Thị Loan', N'Nữ', N'btl.jpg', N'loanabc@gmail.com', CAST(N'2020-08-30' AS Date), N'LoanBaby                                                                                            ', N'123456                                                                                              ')
INSERT [dbo].[ThanhVien] ([ID_user], [HoTen], [GioiTinh], [HinhDaiDien], [Email], [NgayDangky], [Username], [PassWord]) VALUES (3, N'Phạm Thị Giang', N'Nữ', N'ptg.jpg', N'gianggiang@gmail.com', CAST(N'2020-09-01' AS Date), N'GGiang                                                                                              ', N'123456                                                                                              ')
SET IDENTITY_INSERT [dbo].[ThanhVien] OFF
SET IDENTITY_INSERT [dbo].[TraLoi_PhanHoi] ON 

INSERT [dbo].[TraLoi_PhanHoi] ([MaTraLoi], [MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [MaThanhVien], [MaNguoiDung]) VALUES (1, 7, NULL, N'Chuẩn luôn bạn ơi', CAST(N'2020-11-09T11:30:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[TraLoi_PhanHoi] ([MaTraLoi], [MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [MaThanhVien], [MaNguoiDung]) VALUES (2, 7, NULL, N'Hay lắm bạn', CAST(N'2020-11-09T11:31:15.000' AS DateTime), 3, NULL)
INSERT [dbo].[TraLoi_PhanHoi] ([MaTraLoi], [MaPhanHoi], [TieuDe], [NoiDung], [NgayDang], [MaThanhVien], [MaNguoiDung]) VALUES (3, 7, NULL, N'Hay lắm bạn', CAST(N'2020-11-09T11:31:15.000' AS DateTime), 3, NULL)
SET IDENTITY_INSERT [dbo].[TraLoi_PhanHoi] OFF
SET IDENTITY_INSERT [dbo].[TruyCap] ON 

INSERT [dbo].[TruyCap] ([ID], [ThoiGian], [SoTruyCap]) VALUES (1, CAST(N'2020-11-16' AS Date), 1)
INSERT [dbo].[TruyCap] ([ID], [ThoiGian], [SoTruyCap]) VALUES (2, CAST(N'2020-11-17' AS Date), 1)
INSERT [dbo].[TruyCap] ([ID], [ThoiGian], [SoTruyCap]) VALUES (3, CAST(N'2020-11-18' AS Date), 2)
SET IDENTITY_INSERT [dbo].[TruyCap] OFF
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_LoaiCongThuc] FOREIGN KEY([MaLoaiCongThuc])
REFERENCES [dbo].[LoaiCongThuc] ([MaLoaiCongThuc])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CongThuc] CHECK CONSTRAINT [FK_CongThuc_LoaiCongThuc]
GO
ALTER TABLE [dbo].[Luu_tru]  WITH CHECK ADD FOREIGN KEY([ID_blog])
REFERENCES [dbo].[Blog] ([MaBlog])
GO
ALTER TABLE [dbo].[Luu_tru]  WITH CHECK ADD FOREIGN KEY([ID_congthuc])
REFERENCES [dbo].[CongThuc] ([ID_congthuc])
GO
ALTER TABLE [dbo].[Luu_tru]  WITH CHECK ADD FOREIGN KEY([ID_user])
REFERENCES [dbo].[ThanhVien] ([ID_user])
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieu_CongThuc] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CongThuc] ([ID_congthuc])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [FK_NguyenLieu_CongThuc]
GO
ALTER TABLE [dbo].[NoiDung_Blog]  WITH CHECK ADD  CONSTRAINT [FK_NoiDung_Blog_Blog] FOREIGN KEY([ID_blog])
REFERENCES [dbo].[Blog] ([MaBlog])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NoiDung_Blog] CHECK CONSTRAINT [FK_NoiDung_Blog_Blog]
GO
ALTER TABLE [dbo].[NoiDungCT]  WITH CHECK ADD  CONSTRAINT [FK_NoiDungCT_CongThuc] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CongThuc] ([ID_congthuc])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NoiDungCT] CHECK CONSTRAINT [FK_NoiDungCT_CongThuc]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_Blog] FOREIGN KEY([ID_blog])
REFERENCES [dbo].[Blog] ([MaBlog])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_Blog]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_CongThuc] FOREIGN KEY([ID_congthuc])
REFERENCES [dbo].[CongThuc] ([ID_congthuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_CongThuc]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_NguoiDung] FOREIGN KEY([ID_user])
REFERENCES [dbo].[ThanhVien] ([ID_user])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_NguoiDung]
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_TraLoi_PhanHoi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([UserID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi] CHECK CONSTRAINT [FK_TraLoi_PhanHoi_NguoiDung]
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_TraLoi_PhanHoi_PhanHoi] FOREIGN KEY([MaPhanHoi])
REFERENCES [dbo].[PhanHoi] ([MaPhanHoi])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi] CHECK CONSTRAINT [FK_TraLoi_PhanHoi_PhanHoi]
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_TraLoi_PhanHoi_ThanhVien] FOREIGN KEY([MaThanhVien])
REFERENCES [dbo].[ThanhVien] ([ID_user])
GO
ALTER TABLE [dbo].[TraLoi_PhanHoi] CHECK CONSTRAINT [FK_TraLoi_PhanHoi_ThanhVien]
GO
USE [master]
GO
