
@{
    ViewBag.Title = "Timkiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mb-1000 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .kt {
        width: 200px;
        height: auto;
    }
</style>
<title>Mix-MTA | Tổng hợp món ngon</title>
<!-- Search Wrapper -->
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="Index"><img src="/Content/User/img/core-img/your-logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="Index">Trang chủ</a></li>
                                <li><a href="About">Giới thiệu</a></li>
                                <li><a href="Receipt">Công thức</a></li>
                                <li><a href="Blog">Blog</a></li>
                                <li><a href="Contact">Liên hệ</a></li>
                                @*<li>
                                        <a>Quản lý</a>
                                        <ul class="dropdown">
                                            <li><a href="Login">Đăng nhập</a>
                                            <li><a href="#">Tài khoản</a>
                                        </ul>
                                    </li>*@
                            </ul>

                            <!-- Newsletter Form -->
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="margin:0 auto" action="/Home/Timkiem" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="NoiDung">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" style="background-color:#40ba37; border-color:#40ba37">
                                            <i class="fa fa-search "></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- Example split danger button -->
<br />
<div class="mb-1000">
    <div class="btn-group">
        <button type="button" class="btn btn-circle kt">Loại món</button>
        <button type="button" class="btn btn-circle dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=6">Bánh</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=1">Bữa sáng</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=8">Đồ uống</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=2">Món ăn vặt</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=12">Gà</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=3">Khai vị</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=13">Snacks</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=14">Bún-mì-phở</a>
            <a class="dropdown-item" href="/Home/Timkiem_in2?id_lct=11">Pasta-Spaghetti</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-circle kt">Độ khó</button>
        <button type="button" class="btn btn-circle dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Home/Timkiem_in?dk=1">1 sao</a>
            <a class="dropdown-item" href="/Home/Timkiem_in?dk=2">2 sao</a>
            <a class="dropdown-item" href="/Home/Timkiem_in?dk=3">3 sao</a>
            <a class="dropdown-item" href="/Home/Timkiem_in?dk=4">4 sao</a>
            <a class="dropdown-item" href="/Home/Timkiem_in?dk=5">5 sao</a>
        </div>
    </div>
</div>
<section class="small-receipe-area section-padding-80-0">
    <div class="container">
        <div class="row">
            @foreach (Mix_MTA2.Models.CongThuc item in ViewBag.DS)
            {
                <!-- Small Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-small-receipe-area d-flex">
                        <!-- Receipe Thumb -->
                        <div class="receipe-thumb">
                            <a href="Chitietcongthuc?id=@item.ID_congthuc"><img src="/Content/User/img/bg-img/@item.AnhMinhHoa" alt=""></a>

                        </div>
                        <!-- Receipe Content -->
                        <div class="receipe-content">
                            <span>@item.NgayTao</span>
                            <a href="Chitietcongthuc?id=@item.ID_congthuc">
                                <h5>@item.TenCongThuc</h5>
                            </a>
                            <div class="ratings">
                                @for (int i = 1; i <= item.DoKho; i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                                @for (int j = 1; j <= 5 - item.DoKho; j++)
                                {
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                }
                            </div>
                            @if (@item.SLPH > 0)
                            {
                                <p>@item.SLPH phản hồi</p>
                            }
                            else
                            {
                                <p>0 phản hồi</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Small Receipe Area End ##### -->
